
#singer{
    width:100%;
    padding: 0 10px;
    p{
        text-indent: 2em;
        font:12px/24px "";
        color:#666;
    }
    b{
        margin-left:24px;
        color: red;
        font:600 14px/30px "";
    }
    .title{
        h3{
            font:20px/60px "";
            text-align: center;
        }
        img{
            width:100%;
        }
        .about{
            width:100%;
        }
    }
}